/* Stylesheet by Zhiyi Li, 2024 */

/* Base Styling */
body {
    background-color: #a44646;
    font-family: 'Arial', sans-serif;
    margin: 0; /* Remove default margin */
    color: #6d2b2b; /* Default text color */
}

/* Title Container */
#titleContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Center align horizontally */
    padding: 20px 0;
    background-color: #6d2b2b; /* Darker background color */
    color: #FFFFFF; /* White text color */
    text-align: center;
}



#badgerImage {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.page-title {
    font-size: 32px;
    margin: 0;
}

/* Introduction panel style */
.introduction-panel {
    font-size: 16px;
    margin: 20px 40px 20px 40px;
    border-radius: 8px; /* Rounded corners */
    color: #ffffff; /* Darker text color for better readability */
   
}

.container {
    display: flex;           /* Establishes a flex container */
    width: 100%;             /* Spans the full width of the viewport */
    height: calc(100vh-52px);           /* Spans the full height of the viewport */
}

/* General Box Sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Left Sidebar Container */
.left-container {
    flex: 1;                 /* Takes up 1 part of the available space */
    overflow-y: auto;        /* Enables scrolling if content is too long */
    background-color:#f3d2d2;  /*#f3d2d2 #e3c6c6*/
    padding: 20px;
    margin: 5px 10px 20px 20px; /* Adds margin around the container */
    box-shadow: -4px 0 6px -2px rgba(0, 0, 0, 0.1); /* Soft shadow on the left edge */
}

.left-container select,
.left-container button {
    width: 100%; /* Make filters and button full width */
    background-color: #c57272;
    color: white;
    padding: 6px;
    margin-top: 5px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer; /* Change cursor to pointer when hovering */
}


/* Specific Styling for the Apply Filters Button */
#applyFilterButton {
    background-color: #924040; /* Dark red background color */
    color: white; /* White text color */
    border: none; /* Remove border */
}

.left-container h3 {
    font-size: 1.2em;
    color: #5a2a2a;
    margin-bottom: 15px;
    margin-top:10px;
}


#applyFilterButton:hover {
    background-color: #6d2b2b; /* Darker red on hover */
}

/* Styling the layer-toggle container */
.layer-toggle {
    margin-top: 40px; /* Add some space at the top */
}

.layer-toggle input[type="checkbox"] {

    cursor: pointer; /* Add a pointer cursor on hover */
    accent-color: #924040; /* Change the checkbox color to match the map theme */
    transform: scale(1.36); /* Slightly scale up the checkbox */
}

.layer-toggle input[type="checkbox"]:checked {
    background-color: #924040; /* Change the color when checked */
    border-color: #924040; /* Match the border color when checked */
}

.layer-toggle label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.layer-toggle label input {
    margin-right: 10px; /* Space between checkbox and label text */
}


.legend {
    margin-top: 40px;

   
}


.legend div {
    display: flex;
    align-items: center;
    margin: 8px 0px 8px 10px;
}

.legend-color {
    display: inline-block;
    width: 32px;
    height: 26px;
    margin-right: 10px;

}






.map-container {
    flex: 4;                 /* Takes up 3 parts of the available space, making it larger than the chart */
    position: relative;
    margin: 5px 0px 20px 0px; /* Adds margin around the container */
    background-color: #a44646; /* Light grey background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow */
    transition: flex 0.3s ease;
}



#map {
    width: 100%;
    height: calc(100vh - 140px);
}


/* Right Sidebar Container */
#right-container {
    flex: 1;
    background-color: #f3d2d2;
    padding: 30px;
    margin: 5px 20px 20px 0px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Smooth transition */
    position: relative;
    max-height: 680px;
    overflow-y: auto; /* Enable scrolling if the content is too long */
}

#right-container.collapsed {
    flex: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
    border: none;
}

#sidebarContent {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#right-container.collapsed #sidebarContent {
    opacity: 0; /* Fade out the content when collapsing */
}

/* Toggle Button Style */
#toggleSidebar {
    position: fixed; /* Fix the button's position */
    top: 50%; /* Center vertically */
    right: 20px; /* Always on the right side */
    transform: translateY(-50%); /* Adjust to keep the button centered */
    background-color: #924040;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px 0 0 4px; /* Rounded corners */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    font-size: 18px;
    z-index: 1000; /* Ensure the button stays on top */
}

#toggleSidebar:hover {
    background-color: #6d2b2b; /* Darker red on hover */
}


